
/* 
blanc : #ffffff
bleu ciel foncé : #1972D2
bleu clair : #F0F8FF
gris foncé : #25303B 
Bleu marine : #10162F
bleu moyen : #64B5F6

font : Roboto
*/

/*mobile*/

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

div.panel.show {
    display: block !important;
}
button.accordion:after {
    content: 'ᐳ';
    font-size: 13px;
    color: #25303B ;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "ᐯ"; 
}


/*All A ne pas copier dans le css commun_____________________*/ 
@font-face {
    font-family: "Roboto";
    src: url("/font/Roboto-Regular.ttf");
}

body{
    background-color: #F0F8FF;
    width: 100vw;
    margin: 0;
}

header{
    background-color: #10162F;
    height: 8vh;
    color: white;
}

footer{
    background-color: #F0F8FF;;
    height: 8vh;
}

h1{
    text-align: center;
    font-family: "Roboto";
    font-size: 5vw;
}

h2{
    text-align: center;
    font-family: "Roboto";
    font-size: 3vw;
}

h3{
    text-align: center;
    font-family: "Roboto";
    font-size: 2.5vw;
}
/*___________________________________________________________________*/
/*Desktop*/
.aLaUne ul,li{
    list-style: none;
}
