/* 
blanc : #ffffff
bleu ciel foncé : #1972D2
bleu clair : #F0F8FF
gris foncé : #25303B 
Bleu marine : #10162F
bleu moyen : #64B5F6

font : Roboto
*/

/*mobile*/

body{
    width: 100%;
    margin: 0;
}
header{
    background-color: #10162F;
    height: 8vh;
    color: white;
}

footer{
    background-color: #F0F8FF;
    height: 8vh;
}

img{
    width: 100%;
}

/* @media only screen and (max-width: 768px){ */
    body{
        background-color: #FFFFFF;
    }
    h1{
        text-align: center;
        font-family: "Roboto";
        font-size: 10vw;
    }
    button.accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    button.accordion.active, button.accordion:hover {
        background-color: #ddd;
    }
    
    div.panel {
        padding: 0 18px;
        background-color: white;
        display: none;
    }
    
    div.panel.show {
        display: block !important;
    }
    button.accordion:after {
        content: 'ᐳ';
        font-size: 15px;
        color: #25303B ;
        float: right;
        margin-left: 5px;
    }
    
    button.accordion.active:after {
        content: "ᐯ"; 
    }

    h2{
        text-align: center;
        font-family: "Roboto";
        font-size: 8vw;
    }
    .aLaUne{
        padding:1.2em;
    }
/* } */


/*Desktop*/
@media only screen and (min-width: 768px){
    body{
        background-color: #F0F8FF;
    }
    button.accordion{
        display: none;
    }
    #content-main{
        width:80%;
        margin: auto;
        background-color: #ffffff;
        padding: 1.2em;
    }

    div.panel {
        display: block;
    }

    p{
        font-size: 1.5vw;
    }
    li{
        font-size: 1.5vw;
    }
    ul{
        font-size: 1.5vw;
    }

    h1{
        text-align: center;
        font-family: "Roboto";
        font-size: 5vw;
    }
    h2{
        text-align: center;
        font-family: "Roboto";
        font-size: 3vw;
    }
}