/* 
blanc : #ffffff
bleu ciel foncé : #1972D2
bleu clair : #F0F8FF
gris foncé : #25303B
Bleu marine : #10162F
bleu moyen : #64B5F6

font : Roboto
*/
/*mobile*/

.content-ban img{
    width: 100%;
    height: 10vw;
}

.content-article img{
    width: 100%;
    height: 10vw;;
}

.content-aLire{
    width: 100%;
    height: 10vw;
}

.content-main{
    width: 100%;
    display: grid;
    grid-template-columns: 80vm 20vm ;
    grid-template-rows:20vm 60vm 10vm 10vm ;
    grid-template-areas:
    'title title'
    'section section'
    'read-more read-more'
    'play play'
    ;
}
.content-title{
    grid-area: title;
}
.content-section{
    grid-area: section ;
}
.read-more{
    grid-area: read-more;
}
.play{
    grid-area: play;
}