/* global css for all pages*/
@media only screen 
  and (min-device-width: 320px) /*this is the smaller mobile screen size*/
  and (max-device-width: 480px) {
    #index-testimony{
        flex-flow: column wrap;
        justify-content: center;
    }
}

@font-face {
    font-family: "Roboto";
    src: url("/font/Roboto-Regular.ttf");
}

body{
    background-color: white;
    width: 100vw;
    margin: 0;
}

header{
    background-color: #10162F;
    height: 8vh;
    color: white;
}

footer{
    background-color:white;;
    height: 8vh;
}

h1{
    text-align: center;
    font-family: "Roboto";
    font-size: 5vw;
}

h2{
    text-align: center;
    font-family: "Roboto";
    font-size: 3vw;
}

h3{
    text-align: center;
    font-family: "Roboto";
    font-size: 2.5vw;
}
/* end of common css*/ 

#index-presentation{
text-align: center;
}

#index-banner{
    width: 100%;
    height: 30vh;
    background-color: #10162F;
}

#index-card{
    margin-top: 5vw;
    margin-bottom: 5vw;
}
#googleMaps{
    width: 70%;
    margin: 0;
}

#index-testimony{
    display: flex ;
    justify-content: space-around;
    background-color: #1972D2 ;
    border: solid #1972D2 10px;
    border-radius: 5px;
    margin-right: 15%;
    margin-left: 15%;
}

.index-testimony-button{
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50% 50% 50% 50%;
    align-content: center;
}

a .index-testimony-button:hover{
    box-shadow: 3px 3px 1px 1px #8dafd3;
}

figcaption{
    color: white;
}