.presentation{
  
  margin: 20px;
    font-family: "Roboto";
    font-size: x-large;
}

.item5{
  display: flex;
    align-items: center;
  margin: 10px;
}
.item6{
  display: flex;
  text-align: end;
    align-items: center;
  margin: 10px;
}
.item9{
  display: flex;
    align-items: center;
  margin: 10px;
}
.item10{
  display: flex;
  text-align: end;
    align-items: center;
  margin: 10px;
}
.item13{
  display: flex;
    align-items: center;
  margin: 10px;
}
.item14{
  display: flex;
  text-align: end;
    align-items: center;
  margin: 10px;
}

.wrapper {
    margin: 5%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-gap: 20px;
    /*grid-auto-rows: 100px;*/
    grid-template-areas:
      "b b b b b b b b"
      "c c c c c c c c"
      "d d e e e e e e"
      "f f f f f f g g"
      "h h i i i i i i"
      "j j j j j j k k"
      "l l m m m m m m"
      "n n n n n n o o"
      
      ;
  }
  
  .item2 {
    grid-area: b;
  }
  .item3 {
    grid-area: c;
  }
  .item4 {
    grid-area: d;
  }
  .item5 {
    grid-area: e;
  }
  .item6 {
    grid-area: f;
  }
  .item7 {
    grid-area: g;
  }
  .item8 {
    grid-area: h;
  }
  .item9 {
    grid-area: i;
  }
  .item10 {
    grid-area: j;
  }
  .item11 {
    grid-area: k;
  }
  .item12 {
    grid-area: l;
  }
  .item13 {
    grid-area: m;
  }
  .item14 {
    grid-area: n;
  }
  .item15 {
    grid-area: o;
  }
  
  